@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}

html > body {
  font-family: 'SUITE-Regular', monospace;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main_bg_img {
    background-color: #ABDEE6;
     font-size:2.5rem;
     text-align: center;

}

.img-cover{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);                                                                 
}





.login_bg_img {
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
    align-items: center;
    background-color: #ffdab9;
    background-size: cover;
}

#name_font {
	font-family: 'Pretendard-Regular', monospace;
	font-size: 3rem;
}


 .modal-exam, .popUp-exam {
	font-size: 2rem;
}

.layer-bg, .layer_change {
	display: none;
	z-index:1;
}

.layer-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
}

.layer_change {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
	background-color: white;
	color: white;
	width: 500px;
	height: 500px;
	border-radius: 1rem;
}

.layer_add {
	display:none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
	background-color: white;
	color: white;
	width: 500px;
	height: 500px;
	border-radius: 1rem;
	z-index: 1;
}

.layer_delete {
	display:none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
	background-color: white;
	color: white;
	width: 500px;
	height: 500px;
	border-radius: 1rem;
	z-index: 1;
}

.layer_modify {
	display:none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translateX(-50%) translateY(-50%);
	background-color: white;
	color: white;
	width: 500px;
	height: 500px;
	border-radius: 1rem;
	z-index: 1;
}

.layer_change > h1 {
	padding: 20px;
	font-size: 1.5rem;
}

.layer_change > div {
	margin: 20px;
}

#close {
	position: absolute;	
	bottom: 20px;
	right:20px;
}

#modify, #add, #delete{
	font-size: 1.2rem;
}


.close-x-btn, .add-close-x-btn, .modify-close-x-btn, .delete-close-x-btn {
	font-size: 4rem;
	color: black;
	position: absolute;
	top: -10px;;
	right: 20px;
	cursor: pointer;
}

.layer_add, .layer_delete, .layer_modify > h1 {
	padding: 20px;
	font-size: 1.5rem;
}

  .container {
  display: flex;
  height: 90%;
}

#preview-vw, #editor-container{
	  flex-basis: 50%;
	  overflow: hidden;
}
 
#editor-container {
	height: 100%;
}
#editor3, #editor2, #editor1{
	height:30%;
}
 #editor3, #editor2, #editor1 {
	  resize: auto;
 }
 

   
    
    
    
    