@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html > body {
  font-family: 'SUITE-Regular', monospace;
   margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main_bg_img{
    position: relative;
    background-image: url("https://img.freepik.com/free-vector/happy-smiling-people-holding-empty-banner-in-hands_107791-9730.jpg?w=1060&t=st=1697711852~exp=1697712452~hmac=e1d75744687f2dd566a5e2f20baa34e6f7a4d9a09b97045bbc25bc4b13764991");                                                               
    height: 100vh;
    background-size: cover;
}

.img-cover{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);                                                                 
   z-index:1;
}

.main_bg_img .content{
     position: absolute;
     top:50%;
     left:50%;
     transform:translate(-50%, -50%);                                                                   
     font-size:2.5rem;
     color: white;
     z-index: 2;
     text-align: center;
}

.login_bg_img{
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
    align-items: center;
    background-color: #ffdab9;
    background-size: cover;
}

 .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 50px;
        }
        .navbar a, .dropdown-content a, .nested-dropdown-content a {
            text-decoration: none;
            padding: 8px 16px;
            display: inline-block;
        }
        .navbar a:hover, .dropdown-content a:hover, .nested-dropdown-content a:hover {
            background-color: rgba(209, 213, 219, var(--tw-bg-opacity));	;
          border-radius: 0.75rem;	
        }
        .dropdown, .nested-dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content, .nested-dropdown-content {
            display: none;
            position: absolute;
            background-color: rgba(243, 244, 246, var(--tw-bg-opacity));	;
            min-width: 180px;
            z-index: 1;
          border-radius: 0.75rem;	
        }
        .dropdown-content a, .nested-dropdown-content a {
            padding: 12px 16px;
            display: block;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .nested-dropdown-content {
            left: 100%;
            top: 0;
        }
        .nested-dropdown:hover .nested-dropdown-content {
            display: block;
        }

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 100%;
}

.item {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.notice {
    border:none;
    grid-column: 1 / span 3;
}

.calendar {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}

.item.calendar {
  position: relative; /* 상대 위치 지정 */
}

.item.calendar .card {
  position: absolute; /* 절대 위치 지정 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.board-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notice-board .notice-item {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin: 15px 0;
}

.notice-title {
    margin: 0 0 10px;
    color: #333;
  	font-size: 1.25rem;
     line-height: 1.75rem;
}

.notice-summary {
    margin: 0;
    color: #666;
}

.notice-info {
    margin: 10px 0 0;
    color: #999;
    font-size: 0.9em;
}

.table-box-type-1 > table {
	width: 100%;
}

.table-box-type-1 > table th, .table-box-type-1 > table td {
	border:1px solid black;
	padding: 10px;
	text-align: center;
	
}

.horizontal-border-only {
    border-collapse: collapse;
}

.horizontal-border-only th{
	 border-left: none;
    border-right: none;
}

.horizontal-border-only td {
    border-left: none;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    
}


.horizontal-border-only tr:last-child th,
.horizontal-border-only tr:last-child td {
    border-bottom: 2px solid white;
}

